* {
    box-sizing: border-box;
    border: none;
    outline: none;

    font-size: medium;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(243, 243, 243);
}

page {
    display: grid;
    grid-template-rows: min-content auto max-content;

    width: 21cm;
    height: 29.7cm;

    margin: 0 auto;
    margin-bottom: 0.5cm;
    padding: 20px;

    background: white;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

h2 {
    text-align: center;
}

p {
    font-size: small;
    margin: 5px;
    text-align: justify;
}

input[type=text] {
    padding: 12px 5px;
    border: black solid 1px;
    border-radius: 5px;
    height: 20px;
}

img {
    width: 220px;
}

::placeholder {
    color: black;
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cabecalho>#farmacia {
    display: flex;
    flex-direction: column;
}

#cabecalho>#farmacia>span {
    font-size: small;
}

#formulario {
    display: flex;
    flex-direction: column;
}

.form-box {
    margin-bottom: 5px;
}

.dados-paciente {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-paciente>select{
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 13.280px;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 10px;
    row-gap: 5px;
}

.form-input-radio {
    display: flex;
    align-items: center;
}

.form-input {
    display: flex;
}

.form-input>label {
    width: 150px;
}

.form-input>input {
    flex: auto;
}

.full-size {
    grid-column: span 2;
}

#assinatura {
    align-self: flex-end;

    text-align: center;
}

#assinatura>hr {
    display: block;

    height: 2px;

    background: black;
    width: 60%;

    border: none;
    border-top: solid 1px black;
}

#save {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#save > button {
    background-color: #E30613;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: #E30613 solid 2px;
}

#save > button:hover {
    background-color: #e30615d3
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }

    #save {
        display: none;
    }

    .dados-paciente>select {
        display: none;
    }
}